.slidev-code-wrapper.slidev-code-magic-move {
    max-height: 400px;
    overflow: hidden;
    border-radius: inherit;
}

.slidev-code-wrapper.slidev-code-magic-move pre.shiki-magic-move-container {
    max-height: 400px;
    overflow-y: auto !important;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
    scrollbar-width: none;
}

.slidev-code-wrapper.slidev-code-magic-move
    pre.shiki-magic-move-container::-webkit-scrollbar {
    display: none;
}
